<!DOCTYPE html>
<html>
  <head>
    <title>Musubi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body class="bg-stone-50">
    <main class="<%= current_page?(root_path) ? '' : 'container mx-auto mt-28 px-5 flex' %>">
      <%= yield %>
    </main>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
